gatts_CSF20SC2.txt filter=lfs diff=lfs merge=lfs -text
csf20sc201_config.yaml filter=lfs diff=lfs merge=lfs -text
051001_CSF20SC201/051001_CSF20SC201_burst.txt filter=lfs diff=lfs merge=lfs -text
051001_CSF20SC201/051001_CSF20SC201_data.txt filter=lfs diff=lfs merge=lfs -text
051001_CSF20SC201/051001_CSF20SC201_events.txt filter=lfs diff=lfs merge=lfs -text
051001_CSF20SC201/051001_CSF20SC201_metadata.txt filter=lfs diff=lfs merge=lfs -text
051001_CSF20SC201/051001_CSF20SC201_wave.txt filter=lfs diff=lfs merge=lfs -text
